# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
*.zip
*.rar
ML/
Plant Disease/

# Configuration
.env
rzp-key.csv

# Environments
.venv/
.venv310/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
