{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %}Plant Disease Prediction{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Safe Modern UI Enhancements -->
    <link rel="stylesheet" href="{% static 'css/safe-modern.css' %}">

    {% block extra_css %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/index"><img src="{% static 'images/padlogo2.PNG' %}"
                            style="width: 80px;" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">

                        {% if request.session.details %}

                        <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/v_register"> View User</a></li>
                        <li class="nav-item"><a class="nav-link text-danger" href="/logout">Logout</a></li>

                        {% elif request.session.uid %}

                        <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
                        {% if request.session.is_superuser %}
                        <li class="nav-item"><a class="nav-link text-warning" href="/shop/admin/dashboard/"><i
                                    class="fas fa-crown"></i> Admin</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/files"> Paddy Leaf Disease</a></li>
                        <li class="nav-item"><a class="nav-link" href="/files2">Mango Leaf Disease</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop/catalog/">Buy Plants</a></li>
                        {% if not request.session.is_superuser %}
                        <li class="nav-item"><a class="nav-link text-success" href="/shop/dashboard/"><i
                                    class="fas fa-store"></i> My Shop</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/shop/cart/"><i class="fas fa-shopping-cart"></i>
                                Cart</a></li>
                        <li class="nav-item"><a class="nav-link text-danger" href="/logout">Logout</a></li>


                        {% else %}

                        <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    {% block content %}
    {% endblock %}

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>

</html>