{% block content %}
{% load static %}
{% include 'header.html' %}
{% if message %}
 <script>
    alert('{{message}}')
 </script>
{% endif %}
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>OFFICER BOOKING</h2>
                    <p></p>
                    <form id="" method="POST" action="addbook/{{result.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" readonly class="form-control" id="officer_name" name="officer_name" placeholder="Your Name" value="{{result.officer_name}}">
                                    <input type="hidden" class="form-control" id="officer_id" name="officer_id" placeholder="Your Officer Id" value="{{result.id}}">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="date" placeholder="Date" id="date" class="form-control" name="date">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="time" placeholder="Time" id="time" class="form-control" name="time" >
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>                            
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">SUBMIT</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Cart -->
{% include 'footer.html' %}
{% endblock %}