{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Plant Disease Prediction</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
					
                    
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'images/padlogo2.PNG' %}" style="width: 80px;" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">

                        {% if request.session.details %}

                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/index">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/v_register"> View User</a></li>
                       <!-- <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/v_file">View Files</a></li> -->
                        <!-- <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/office">Add Officers</a></li> -->
                        <!-- <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/v_booking">View Booking</a></li> -->
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/logout">Logout</a></li>

                        {% elif request.session.uid %}

                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/index">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/files"> Paddy Leaf Disease</a></li>
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/files2">Mango Leaf Disease</a></li>

                        <!-- <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/result">View Result</a></li> -->
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/logout">Logout</a></li>


                        {% else %}

                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/index">Home</a></li>
                        <!-- <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/recent_diseases">Recent Diseases</a></li> -->
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/register">Register</a></li>
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/login">Login</a></li>
                        {% endif %}

                    </ul>
                </div>
                
               
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-02.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-03.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    {% endblock %}